.products-section {
  margin: .3rem .3rem;
  margin-top: 1rem;
}

.products {
  margin-top: .4rem;
}

.product {
  display: flex;
  border-top: .1rem solid lightgray;
  padding-top: .5rem;
  padding-bottom: .2rem;
  margin-bottom: .3rem;
  padding-right: .1rem;
}


.product-img-wrap {
  margin-right: 1rem;
}

.product-img {
  width: 7rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 5px;
}

.product-body {
  width: 100%;
}

.product-name {
  font-size: 1.1rem;
  color: #3B444B;
  margin-bottom: .1rem;
}

.product-desc {
  font-size: .8rem;
  color: gray;

}
@media screen and (min-width: 500px) {
  .product-desc {
    margin-top: .5rem;
    margin-bottom: 1rem;
  }
}

.common-product-pric {
  margin-top: .3rem;
  font-size: 1rem;
}

.product-actions {
  display: flex;
  flex: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-top: .6rem;
}

.action-icon-wrap {
  padding: .4rem 1rem;
  background: lightgray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: .3rem;
}

.action-icon {
  color: #4682B4;
  transition: 0.2s;
}

.action-name-wrap {
  color: black;
  font-weight: bold;
  padding: .4rem 1rem;
  background: lightgray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.action-icon:hover {
  transform: scale(1.2);
}
