.contact-info-wrap {
  border-top: 1px solid gray;
  margin-top: 1.5rem;
  padding-top: .5rem;
}

.phone-contact-wrap {
  display: flex;
}

.select-phone-code {
  flex: 25%;
  width: 100%;
  margin-right: .5rem;
}

.phone-input-wrap {
  flex: 76%;
  width: 100%;  
}
