#s-navbar-wrap {
  display: flex;
  padding: .5rem .5rem;
  border-bottom: 1px solid gray;
  align-items: center;
}

#back-action {
  flex: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#done-action {
  flex: 40%;
  display: flex;
  justify-content: flex-end;
}

#back-icon {
  font-size: 1.5rem;
  margin-right: .4rem;
  font-weight: bold;
}

#done-action span {
  font-weight: bold;
  padding: .2rem .5rem;
  border-radius: 10px;
}

#done-action span:hover {
  background: lightgray;
}
